<div class="page stellar" id="contact">
    <div class="pageheader">
        <div class="headercontent">
            <div class="section-container">
                <h2 class="title">Contact &amp; Meet Me</h2>
                <div class="row">
                    <div class="col-md-8">
                        <p>
                            I would be happy to talk to you if you need my assistance in your research or
                            certifications. If you need business administration support for your company, I
                            am also interested. Though I have limited time I do my best to respond within 24 hours
                            of your inquiry.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-unstyled">
                            <li>
                                <strong><i class="fa fa-phone"></i>&nbsp;&nbsp;</strong>
                                <span>cell: (205) 276-5306</span>
                            </li>
                            <li>
                                <strong><i class="fa fa-envelope"></i>&nbsp;&nbsp;</strong>
                                <span><a href="mailto:Lori.Menefee@gmail.com">Lori.Menefee@gmail.com</a></span>
                            </li>
                            <li>
                                <strong><i class="fa fa-skype"></i>&nbsp;&nbsp;</strong>
                                <span><a href="skype:LoriMenefee2?call">LoriMenefee2</a></span>
                            </li>
                            <li>
                                <strong><i class="fa fa-google-plus"></i>&nbsp;&nbsp;</strong>
                                <span><a href="https://plus.google.com/u/0/+LoriCollier1" target="_blank">LoriCollier1</a></span>
                            </li>
                            <li>
                                <strong><i class="fa fa-linkedin"></i>&nbsp;&nbsp;</strong>
                                <span><a href="https://www.linkedin.com/in/lorimcollier" target="_blank">lorimcollier</a></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>