<div class="page" id="gallery">
    <div class="pagecontents">
        <div class="section color-3" id="gallery-header">
            <div class="section-container">
                <div class="row">
                    <div class="col-md-3">
                        <h2>Gallery</h2>
                    </div>
                    <div class="col-md-9">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                            sunt in culpa qui officia deserunt mollit anim id est
                            laborum.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section color-3" id="gallery-large">
            <div class="section-container">
                <ul class="grid" id="grid">
                    <li>
                        <div>
                            <img alt="image" src="Images/06(1).jpg"><a class="popup-with-move-anim" href="/06(1).jpg">
                                <div class="over">
                                    <div class="comein">
                                        <i class="icon-search"></i>
                                        <div class="comein-bg"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img alt="image" src="Images/02.jpg"><a class="popup-with-move-anim" href="/02.jpg">
                                <div class="over">
                                    <div class="comein">
                                        <h3>Image Title</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua.
                                        </p>
                                        <div class="comein-bg"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img alt="image" src="Images/03.jpg"><a class="popup-with-move-anim" href="/03.jpg">
                                <div class="over">
                                    <div class="comein">
                                        <i class="icon-search"></i>
                                        <div class="comein-bg"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img alt="image" src="Images/04.jpg"><a class="popup-with-move-anim" href="/04.jpg">
                                <div class="over">
                                    <div class="comein">
                                        <h3>Image Title</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua.
                                        </p>
                                        <div class="comein-bg"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img alt="image" src="Images/05.jpg"><a class="popup-with-move-anim" href="/05.jpg">
                                <div class="over">
                                    <div class="comein">
                                        <i class="icon-search"></i>
                                        <div class="comein-bg"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img alt="image" src="Images/01.jpg"><a class="popup-with-move-anim" href="/01.jpg">
                                <div class="over">
                                    <div class="comein">
                                        <h3>Image Title</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua.
                                        </p>
                                        <div class="comein-bg"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img alt="image" src="Images/07.jpg"><a class="popup-with-move-anim" href="/07.jpg">
                                <div class="over">
                                    <div class="comein">
                                        <i class="icon-search"></i>
                                        <div class="comein-bg"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img alt="image" src="Images/08.jpg"><a class="popup-with-move-anim" href="/08.jpg">
                                <div class="over">
                                    <div class="comein">
                                        <i class="icon-search"></i>
                                        <div class="comein-bg"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img alt="image" src="Images/09.jpg"><a class="popup-with-move-anim" href="/09.jpg">
                                <div class="over">
                                    <div class="comein">
                                        <h3>Image Title</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua.
                                        </p>
                                        <div class="comein-bg"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img alt="image" src="Images/10.jpg"><a class="popup-with-move-anim" href="/10.jpg">
                                <div class="over">
                                    <div class="comein">
                                        <i class="icon-search"></i>
                                        <div class="comein-bg"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img alt="image" src="Images/11.jpg"><a class="popup-with-move-anim" href="/11.jpg">
                                <div class="over">
                                    <div class="comein">
                                        <h3>Image Title</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua.
                                        </p>
                                        <div class="comein-bg"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img alt="image" src="Images/12.jpg"><a class="popup-with-move-anim" href="/12.jpg">
                                <div class="over">
                                    <div class="comein">
                                        <i class="icon-search"></i>
                                        <div class="comein-bg"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img alt="image" src="Images/07.jpg"><a class="popup-with-move-anim" href="/07.jpg">
                                <div class="over">
                                    <div class="comein">
                                        <h3>Image Title</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua.
                                        </p>
                                        <div class="comein-bg"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img alt="image" src="Images/02.jpg"><a class="popup-with-move-anim" href="/02.jpg">
                                <div class="over">
                                    <div class="comein">
                                        <i class="icon-search"></i>
                                        <div class="comein-bg"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>