    <div class="page home" id="biography" data-pos="home">
        <div class="pageheader">
            <div class="headercontent">
                <div class="section-container">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="biothumb">
                                <img class="img-responsive" alt="image" src="Images/Aquarium.jpg" style="height:120%; width:120%;">
                                <div class="overlay">
                                    <h1>Lori Collier</h1>
                                    <ul class="list-unstyled">
                                        <li>Technical Consultant</li>
                                        <li>Software Engineer</li>
                                        <li>Adjunct Professor</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix visible-sm visible-xs"></div>
                        <div class="col-md-7">
                            <h3 class="title">Bio</h3>
                            <p>
                                A Software Engineer with a background in Finance and Marketing, Lori Collier has experience as a Lead Developer.
                                Now, she is the owner of the highly esteemed company, Avora Technology Consultants.
                                Her commitment to the success of her clients and employees spans time, money and happiness. She focuses on
                                growing the company while keeping up-to-date with new technologies and serving customers.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagecontents">
            <div class="section color-1">
                <div class="section-container">
                    <div class="row">
                        <div class="col-md-5 col-md-offset-1">
                            <div class="title text-center">
                                <h3>Certifications</h3>
                            </div>
                            <ul class="ul-dates">
@*                                <li>
                                    <div class="dates"><span>2017</span><span>Present</span></div>
                                    <div class="content">
                                        <h4>CISSP</h4>
                                        <p><em>ISC<sup>2</sup></em>, The International Information System Security Certification Consortium</p>
                                    </div>
                                </li>  
                                <li>
                                    <div class="dates"><span>2016</span><span>Present</span></div>
                                    <div class="content">
                                        <h4>Project+</h4>
                                        <p><em>CompTIA</em>, Computing Technology Industry Association</p>
                                    </div>
                                </li>  *@                              
                                <li>
                                    <div class="dates"><span>2014</span><span>Present</span></div>
                                    <div class="content">
                                        <h4>Network+</h4>
                                        <p><em>CompTIA</em>, Computing Technology Industry Association</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="dates"><span>2014</span><span>Present</span></div>
                                    <div class="content">
                                        <h4>Security+ Certification</h4>
                                        <p>
                                            <em>CompTIA</em>, Computing Technology Industry Association
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="dates"><span>2013</span><span>Present</span></div>
                                    <div class="content">
                                        <h4>A+ Certification</h4>
                                        <p><em>CompTIA</em>, Computing Technology Industry Association</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="dates"><span>2013</span><span>Present</span></div>
                                    <div class="content">
                                        <h4>Microsoft Office Specialist</h4>
                                        <p><em>Microsoft</em></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="dates"><span>2012</span><span>Present</span></div>
                                    <div class="content">
                                        <h4>ITIL® Certification - IT Service Management</h4>
                                        <p><em>AXELOS Ltd</em></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-5">
                            <div class="title text-center">
                                <h3>Education &amp; Training</h3>
                            </div>
                            <ul class="ul-card">
                                <li>
                                    <div class="dy">
                                        <span class="degree">MS C.S.</span>
                                        <span class="year">2014</span>
                                    </div>
                                    <div class="description">
                                        <p class="waht">Master of Science in Computer Science</p>
                                        <p class="where">
                                            Troy University
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="dy">
                                        <span class="degree">M.B.A.</span><span class="year">2009</span>
                                    </div>
                                    <div class="description">
                                        <p class="waht">Master of Business Administration</p>
                                        <p class="where">University of Phoenix</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="dy"><span class="degree">B.S.</span><span class="year">2007</span></div>
                                    <div class="description">
                                        <p class="waht">Bachelor of Science in Marketing</p>
                                        <p class="where">
                                            University of Alabama at Birmingham
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section color-2">
                <div class="section-container">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="title text-center">
                                <h3>Description of Experience</h3>
                            </div>
                            <ul class="timeline">
                             <li class="open">
                                    <div class="date">2016-Present</div>
                                    <div class="circle"></div>
                                    <div class="data">
                                        <div class="subject">Owner - Avora Technology Consultants</div>
                                        <div class="text row">
                                            <div class="col-md-2 btn-lg"><i class="glyphicon glyphicon-screenshot"></i></div>
                                            <div class="col-md-10">
                                                Provides Software Development services to United States Air Force to a mission critical tracking and construction system.
                                                 <ul id="divAvoraSkills">
                                                    <li>Angular</li>
                                                    <li>Java</li>
                                                    <li>Hibernate</li>
                                                    <li>Oracle</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="date">2015</div>
                                    <div class="circle"></div>
                                    <div class="data">
                                        <div class="subject">Technical Consultant - TekSystems</div>
                                        <div class="text row">
                                            <div class="col-md-2">
                                                <i class="fa fa-code fa-2x"></i>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="subject">
                                                    <h3>CARES Project</h3>
                                                </div>
                                                Lead Developer. Worked in an Agile Environment to help develop an extensive and highly critical eligibility system for Medicaid, Medicare, DHR and other federal and local government systems.
                                                <ul id="divCaresSkills">
                                                    <li>C#</li>
                                                    <li>WebAPI</li>
                                                    <li>MVC</li>
                                                    <li>Angular</li>
                                                    <li>Knockout</li>
                                                    <li>Inrules</li>
                                                    <li>JSON</li>
                                                    <li>AJAX</li>
                                                    <li>TFS</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="text row">
                                            <div class="col-md-2">
                                                <i class="fa fa-briefcase fa-2x"></i>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="subtitle">
                                                    <h3>ALFA Insurance</h3>
                                                </div>
                                                Lead Developer. Created an Active Directory web service for the enterprise to efficiently
                                                query the LDAP server. Created a centralized intranet design with a consistent look and feel.
                                                Produced templates for test scripts, and site and access point documentation. SharePoint lead.
                                                Provided direction on licensing and converting COTS products to SharePoint. Trained new developers
                                                in C#, MVC, Unit Testing, SQL (writing stored procedures, creating tables/views/functions, etc.),
                                                Visual Studio, etc. Migrated applications from Server 2003.

                                                <ul id="divAlfaSkills">
                                                    <li>C#</li>
                                                    <li>MVC</li>
                                                    <li>SQL</li>
                                                    <li>JSON</li>
                                                    <li>AJAX</li>
                                                    <li>JavaScript</li>
                                                    <li>Bootstrap</li>
                                                    <li>FontAwesome</li>
                                                    <li>VBA</li>
                                                    <li>Splunk</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="date">2014</div>
                                    <div class="circle"></div>
                                    <div class="data">
                                        <div class="subject">Adjunct Networking Professor - Virginia College</div>
                                        <div class="text row">
                                            <div class="col-md-2">
                                                <i class="fa fa-mortar-board fa-2x"></i>
                                            </div>
                                            <div class="col-md-10">
                                                Developed the syllabus for each course assigned based on ACICS and department
                                                criteria including learning objectives expressed in behavioral terms. Made all
                                                course materials including daily schedule, PowerPoints, assignments, certification
                                                objectives, instructional videos, etc. available via my self-funded,
                                                    self-designed web application. Also, the web application
                                                allowed automated grading and storing of all homework, quizzes, and tests, in HTML
                                                in an SQL database. Related the instruction to careers and employer expectations.
                                                Prepared and graded examinations based upon course objectives and published exam
                                                schedule. Returned all assignments instantly through the site. Maintained a 50% higher
                                                certification pass rate than both full-time and part-time instructors
                                                teaching the same subject.

                                                <ul id="divVcSkills">
                                                    <li>C#</li>
                                                    <li>Instructing</li>
                                                    <li>Networking</li>
                                                    <li>PC Repair</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="date">2012-2015</div>
                                    <div class="circle"></div>
                                    <div class="data">
                                        <div class="subject">Lead Developer - Northrop Grumman</div>
                                        <div class="text row">
                                            <div class="col-md-2">
                                                <i class="fa fa-cogs fa-2x"></i>
                                            </div>
                                            <div class="col-md-10">
                                                Lead Developer for 33 projects written in Classic ASP, and C# .NET versions 1.0–4.5.
                                                Uplifted, recoded, and recovered multiple applications. Responsible for entire SDLC.
                                                Gathered requirements, wrote documentation, gained approvals from management and
                                                customers, completed change notices, and provided continuous support and maintenance.
                                                Provided timely status reports and completed projects on time if not ahead of schedule.
                                                Created and maintained databases in both SQL and Oracle. Used SQL Management
                                                Studio 2014 to write stored procedures, functions, and custom types. Used SSRS to
                                                create custom reports.

                                                <ul id="divNgcSkills">
                                                    <li>Web Forms</li>
                                                    <li>MVC</li>
                                                    <li>C#</li>
                                                    <li>Classic ASP</li>
                                                    <li>SQL</li>
                                                    <li>Oracle</li>
                                                    <li>Documentation</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#divAvoraSkills, #divCaresSkills, #divAlfaSkills, #divNgcSkills, #divVcSkills").tagit({
            readOnly: true
        });
    });
</script>