<div class="page" id="teaching">
    <div class="pageheader">
        <div class="headercontent">
            <div class="section-container">
                <h2 class="title">Teaching</h2>
                <div class="row">
                    <div class="col-md-12">
                        <blockquote class="blockquote-reverse">
                            <p>Tell me and I forget. Teach me and I remember. Involve me and I learn.</p>
                            <footer>Benjamin Franklin</footer>
                        </blockquote>
                        <p>
                            Teaching is a responsibility and a privilege. When teaching, as well as all things, I take my challenges
                            and provide solutions. The best part about teaching is when a student realizes they do not need the
                            instructor anymore. At this point, they recognize their resources, and accept the responsibility that is
                            learning. From then on, the sky is their only limit. They are unstoppable and their understanding knows
                            no bounds.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pagecontents">

         <div class="section color-1">
            <div class="section-container">
                <div class="row">
                    <div class="title text-center">
                        <h3>Current Teaching</h3>
                    </div>
                    <ul class="ul-dates">
                        <li>
                            <div class="dates"><span>Present</span><span>2017</span></div>
                            <div class="content">
                                <h4>Enterprise Applications Programming I| Grand Canyon University</h4>
                                <p>
                                    This course provides an introduction to the fundamentals of C# programming and the .NET
                                    platform. The course covers program design and development, debugging techniques, structured
                                    and object-oriented programming and basic GUI elements.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="section color-2">
            <div class="section-container">
                <div class="row">
                    <div class="title text-center">
                        <h3>Teaching History</h3>
                    </div>
                    <ul class="ul-dates-gray">
                        <li>
                            <div class="dates"><span>Apr 2014</span><span>Jun 2014</span></div>
                            <div class="content">
                                <h4>NET 1025 Computer Networks | Virginia College</h4>
                                <p>
                                    NET 1025 is an introductory course in computer hardware. The emphasis will be on the basic
                                    installation of computer hardware and computer maintenance fundamentals. This course prepares
                                    students to take the CompTIA 220-801 exam.
                                    <br />
                                    The goal is for students to learn not only what computer components make up a PC but also what those
                                    components are and how they work today, but also why they are designed the way they are and how they are
                                    likely to evolve in the future. We will draw examples primarily from the Internet. Topics to be covered
                                    include: congestion/flow/error control, routing, addressing, naming, multi-casting, switching,
                                    internetworking, and network security. Evaluation is based on homework assignments, the projects,
                                    and two mid-term exams.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="dates"><span>Jun 2014</span><span>Sept 2014</span></div>
                            <div class="content">
                                <h4>NET 1060 Operating System Essentials | Virginia College</h4>
                                <p>
                                    Operating System Essentials introduces students to operating system
                                    fundamentals, as well as troubleshooting basic and essential hardware.
                                    File systems and their permissions, command line interface, user/group
                                    accounts, and optimizing/troubleshooting operating systems are
                                    explained. Some of the objectives required to achieve the CompTIA A+
                                    certification are integrated into the course.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="dates"><span>Oct 2014</span><span>Dec 2014</span></div>
                            <div class="content">
                                <h4>NET 1050 Computer Hardware Essensials | Virginia College</h4>
                                <p>
                                    Computer Hardware Essentials introduces students to the fundamentals of
                                    computer technology, hardware, and safety. Students will examine the basic
                                    computer components such as motherboards, power supplies, processors,
                                    and RAM. The student will also investigate effective interaction with
                                    customers and peers. Objectives required to achieve the CompTIA A+
                                    certification are integrated into the course.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="dates"><span>Oct 2014</span><span>Dec 2014</span></div>
                            <div class="content">
                                <h4>NET 1055 Network, Multimedia, and Printer Essentials | Virginia College</h4>
                                <p>
                                    In Network, Multimedia, and Printer Essentials, students will examine
                                    fundamentals of networks, multimedia, printers, and mobile devices. Also
                                    covered are the foundations of local area networks (LANs), wide area
                                    networks (WANs), mobile operating systems, and basic security standards.
                                    Students will examine effective interaction with customers and peers.
                                    Objectives required to achieve the CompTIA A+ certification are integrated
                                    into the course.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
